body {
    margin: 0;
    text-align: center;
    background: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.score {
    background: #ffffff;
    color: #4CAF50; /* Green for positive feedback and readability */
    font-size: 3.75rem;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8); 
    border: 1px solid #ddd;
}

h1 {
    font-size: 2rem;
    color: #444; 
    margin-bottom: -10px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: #4CAF50; 
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;                            
}

button:hover {
    background: #45A049; 
    transform: scale(1.05); 
}


#reset-btn {
    background: #F44336; /*Destrucive action*/
    color: white;
    margin-top: 350px;
    padding: 10px 20px;
    border-radius: 8px;
    max-height: 50px;
}

#reset-btn:hover {
    background: #E53935;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}